# üìò 03 - Data Types and Arithmetic

Explore Python basics like variables, data types, and arithmetic operations.

Gabriel Gacovicaj

## ‚úÖ Learning Goals
- Understand Python data types
- Use variables and print statements
- Perform basic arithmetic

In [1]:
# üß† Variables and Types
x = 10
y = 3.5
z = 'hello'
print(type(x), type(y), type(z))

<class 'int'> <class 'float'> <class 'str'>

In [2]:
# ‚ûï Arithmetic Operations
print('Add:', x + y)
print('Divide:', x / y)
print('Floor Divide:', x // y)
print('Exponent:', x ** 2)

Add: 13.5
Divide: 2.857142857142857
Floor Divide: 2.0
Exponent: 100

## ‚úèÔ∏è Try It Yourself
- Create your own variables
- Try combining numbers and strings
- Use `input()` to interact

In [3]:
# Your code here
name = input('What is your name? ')
print('Welcome,', name)

What is your name? Gabriel
Welcome, Gabriel

In [4]:
a = 'a'
num = 3
print(a+num)

TypeError: can only concatenate str (not "int") to str

## üì§ Submit
Make sure your name is at the top in a Markdown cell.
Submit via D2L or Colab link.